@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/inter-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/inter-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "tailwindcss";

@theme {
    /* --font-family: var(--font-sans); */
	--font-sans: system-ui, sans-serif, Roboto, Helvetica, Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	/* --font-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
	--font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

}

a {
    @apply hover:bg-amber-100 hover:text-black;
}

.project-link {
  @apply flex justify-between mb-2;
  @apply font-medium;
  @apply hover:bg-transparent;
}

body {

    /* background-color: var(--color-base-100); */
    --color-base-100: oklch(97.788% .004 56.375);
	/* @apply bg-base-100; */
	background-color: #fefaf0
	/* background: rgb(10, 14, 21); */
	/* color: #f8f8f8 */
	@apply text-zinc-800;
    @apply text-[17px];
	@apply max-sm:text-[14px];
	/* @apply blur-xs; */
}

::selection {
  @apply bg-amber-100/80;
}



@layer components {

    .animate-on-load {
      opacity: 0;
      filter: blur(4px);          /* soften */
      transform: translateY(20px);/* or X for left/right slides */
      transition:
        opacity 1.4s cubic-bezier(0.165,0.84,0.44,1),
        transform 1.4s cubic-bezier(0.165,0.84,0.44,1),
        filter   1.4s cubic-bezier(0.165,0.84,0.44,1);
    }

    /* Visible state (added later with JS) */
    .animate-on-load.is-visible {
      opacity: 1;
      filter: blur(0);
      transform: translate(0,0);
    }

    .animate-from-left  { transform: translateX(-20px); }
    .animate-from-right { transform: translateX( 20px); }

  .page-container {
      @apply flex flex-col sm:flex-row;
      @apply lg:ml-8;
      @apply min-h-dvh p-8 sm:px-12 max-sm:gap-y-4;
      @apply sm:gap-x-18;
  }

  .navbar {
    @apply top-8 max-h-max;
    @apply w-max;
    @apply sm:sticky;
  }

  .navbar-left {
      @apply sm:items-end sm:pt-8;
      @apply max-sm:flex max-sm:flex-row max-sm:justify-between
  }

  .nav-link {
    @apply font-medium text-right text-zinc-700 max-sm:inline-block;
    @apply max-sm:underline;
  }

  .navbar-primary {
    @apply space-x-2.5 sm:mt-4 sm:space-x-0;
  }

  .navbar-secondary {
    @apply space-x-2 max-sm:mt-0.5 sm:mt-4 sm:space-x-0;
  }

  .home-link {
      @apply underline decoration-dotted decoration-gray-600;
  }

  .project-list-item {
      @apply p-3 border border-gray-300 rounded-sm;
      @apply group-hover/project-list:opacity-50 hover:opacity-100;
      /* @apply hover:bg-slate-50; */
  }


  .project-link-title {
      @apply  underline decoration-2 decoration-dotted decoration-blue-600;
  }

  .project-link-arrow {
      @apply group-hover/item:inline-block hidden pr-2;
  }
}

@layer utilities {
  .nav-link-secondary {
    @apply font-medium text-right text-gray-400;
    @apply max-sm:inline-flex;
  }

  .nav-link-secondary-c {
    @apply inline-flex items-center gap-x-1;
  }

  @keyframes bounce-slow-low {
    0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }

  .bounce-slow-low {
    --animate-bounce: bounce-slow-low 2s infinite;
  }

}
